.s{
    /* PREPARA-TE PARA A ÉPOCA */

    position: absolute;
    width: 961px;
    height: 128px;
    left: 479px;
    top: 232px;

    font-family: 'Porter Sans Block';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    text-align: center;

    color: #FAFAFA;

    /* Oportunidades Black Friday */

    position: absolute;
    width: 450px;
    height: 47px;
    left: 51px;
    top: 470px;

    font-family: 'Reddit Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;

    color: #000000;




}